.container {
    display: flex;
    justify-content: center;
}

.imgCart {
    width: 100px;
}

.contProduct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px 15px 0px ;
    border-bottom: 1px solid black;
}

.contCart {
    background-color: white;
    width: 60%;
    border-radius: 20px;
    border: 2px solid #1b272e;
    margin: 30px 0px 30px 0px;
}

.cardTitle {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

.cardTitleForm {
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-style: italic;
}

.noProduct {
    margin-bottom: 20px;
    text-align: center;
}

.total {
    padding-right: 15%;
}

.bntEliminate {
    margin: 5px;
    color: white;
    background-color: #1b272e;
    height: 25px;
    width: 120px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.backLink {
    text-decoration: none;
    color: #1b272e;
    margin: 20px;
    font-weight: bold;
}

.contButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnConfirm {
    margin: 5px;
    color: white;
    background-color: rgb(13, 186, 255);
    height: 32px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.contConfirm {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.labelCont {
    display: flex;
    flex-direction: column;
}
