.contDetail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listDescriptionCont {
    width: 40%;
}

.listDescription li {
    list-style-type: disc;
    margin: 10px;
    font-size: 1.2em;
}

.productTitle {
    font-size: 25px;
    margin: 10px;

}

.priceTitle {
    margin: 10px;
}

.descriptionCont {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #1b272e;
    width: 70%;
    margin: 20px;
}

.imgDetail {
    width: 50%;
}

.bntAgregar {
    margin: 5px;
    color: white;
    background-color: #1b272e;
    height: 30px;
    width: 160px;
    font-size: 15px;
    text-align: center;
    border: solid 2px #1b272e;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.inactiveFinish {
    display: none;
}