.logo {
  height: 110px;
}
  
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b272e;
  height: 130px;
  z-index: 1;
}
  
.btnNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  position: relative;
  z-index: 1;
}

.btnNavActive {
  color: red;
  text-decoration: none;
}
  
.btnNav {
  color: white;
  text-decoration: none;
}
  
li {
  list-style: none;
}

.backCont {
  background-color: #1b272e;
  z-index: 1;
}

@media (max-width: 375px){
    
  .btnNavBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

