.counterContainer {
    display: flex;
    align-items: center;
    padding: 5px;
}

.counterContainer p {
    padding-top: 10px;
}

.counterInput {
    margin: 5px;
    background-color: white;
    height: 25px;
    width: 130px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: solid 2px #1b272e;
}

.btnCounter {
    cursor: pointer;
    font-size: 25px;
    color: blue;
}


